// Header Grid
header .navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "left middle right"
        "bottom bottom bottom";

    .navbar-brand {
        grid-area: left;
    }

    .navbar-collapse {
        grid-area: middle;
    }

    .navbar-toolbar {
        grid-area: right;
    }
}

@include media-breakpoint-down(md) {
    header .navbar {
        grid-template-columns: 1fr 1fr 1fr;

        .navbar-brand {
            grid-area: middle;
        }

        .navbar-toggler {
            grid-area: left;
        }

        .navbar-collapse {
            grid-area: bottom;
        }
    }
}

@include media-breakpoint-down(xs) {
    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// Navbar Brand
.navbar-brand .logo {
    max-width: 130px;
}

@include media-breakpoint-down(md) {
    .navbar-brand {
        text-align: center;
        margin-right: 0 !important;
    }
}

// Navbar Nav
.navbar-top .navbar-nav .nav-link {
    padding: $spacer;
    color: $gray-800;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-top .navbar-nav .nav-link.active,
.navbar-top .navbar-nav .nav-link:hover {
    color: $primary;
}

@include media-breakpoint-down(md) {
    .navbar-top .navbar-nav {
        margin-top: $spacer;

        .nav-link {
            padding: $spacer * 0.5 0 $spacer * 0.5 0;
        }
    }
}

// Nav Toolbar
.navbar-toolbar .cart {
    @extend .btn;

    display: inline-flex;
    padding: 5px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: none;
    border-radius: 50%;
    background-color: #dd6868;

    &:hover i {
        color: #fff;
    }
}

// Nav Toggler
.navbar-toggler-icon {
    @extend .far;
    @extend .fa-bars;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

@include media-breakpoint-down(md) {
    .navbar-toggler {
        width: 40px;
        padding: 0;
    }
}
