// Navbar Brand
// .navbar-brand {
//     margin-right: 0;
// }

.navbar-brand .logo {
    max-width: 130px;
}

.navbar-top .navbar-nav .nav-link {
    padding: $spacer;
    color: $gray-800;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-top .navbar-nav .nav-link.active,
.navbar-top .navbar-nav .nav-link:hover {
    color: $primary;
}

.navbar-toolbar .cart {
    @extend .btn;

    display: inline-flex;
    padding: 5px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: none;
    border-radius: 50%;
    background-color: #dd6868;

    &:hover i {
        color: #fff;
    }
}

// .navbar-toolbar {
//     width: 25%;
// }

// .navbar-brand {
//     width: 50%;
// }

// .navbar-brand {
//     text-align: center;
// }

@include media-breakpoint-down(md) {
    nav {
        display: none;
    }
}
