// Main Carousel
.main-carousel img {
    width: 100%;
    height: calc(100vh - 87px);
    object-fit: cover;
    object-position: center;
}

@include media-breakpoint-down(md) {
    .main-carousel img {
        height: 80vh;
        // max-height: unset;
    }
}

// Carousel Overlay Categories
.carousel-overlay {
    margin-top: -5rem;
    margin-bottom: 3 * $spacer;
}

.overlay-category-wrapper {
    border-radius: 7px;
    overflow: hidden;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $spacer 20px;
    grid-gap: 20px;
    text-align: center;
    font-size: $font-size-base;
}

.overlay-category-wrapper img {
    width: 100%;
    height: auto;
    margin-bottom: $spacer;
}

.overlay-category-wrapper a {
    color: $body-color;
}

.overlay-category-wrapper a:hover {
    color: $primary;
    text-decoration: none;
}

@include media-breakpoint-down(md) {
    .carousel-overlay {
        margin-top: $spacer * -3;
    }
}

@include media-breakpoint-down(xs) {
    .carousel-overlay {
        margin-top: $spacer * 2;
    }

    .overlay-category-wrapper {
        background: none;
        box-shadow: none !important;
        padding: 0;
        grid-template-columns: 1fr 1fr;

        a:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;

            img {
                height: 250px;
                object-fit: contain;
                background: $gray-100;
                object-position: right;
            }
        }

        img {
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
}
