.main-carousel img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.carousel-overlay {
    margin-top: -10rem;
    margin-bottom: 3 * $spacer;
}

.overlay-category-wrapper {
    border-radius: 7px;
    overflow: hidden;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $spacer 20px;
    grid-gap: 20px;
    text-align: center;
    font-size: $font-size-base;
}

.overlay-category-wrapper img {
    width: 100%;
    height: auto;
    margin-bottom: $spacer;
}

.overlay-category-wrapper a {
    color: $body-color;
}

.overlay-category-wrapper a:hover {
    color: $primary;
    text-decoration: none;
}

@include media-breakpoint-down(md) {
    .main-carousel img {
        height: 80vh;
        max-height: unset;
    }

    .carousel-overlay {
        margin-top: $spacer * -5;
    }
}

@include media-breakpoint-down(xs) {
    .carousel-overlay {
        margin-top: $spacer * 2;
    }

    .overlay-category-wrapper {
        grid-template-columns: 1fr 1fr;
        background-color: $gray-100;

        a:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        img {
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
}
