.woocommerce {
    table.cart {
        .product-thumbnail {
            width: 130px;

            img {
                width: 100px;
                height: auto;
            }
        }

        td.actions .coupon .input-text {
            width: auto;
        }
    }

    .cart-collaterals {
        .checkout-button.button {
            @extend .btn-primary;
        }
    }

    a.remove {
        color: $gray-300 !important;
    }

    .cart_totals {
        h2,
        table {
            display: none;
        }
    }
}

@include media-breakpoint-down(xs) {
    .woocommerce table.cart td.actions .coupon .input-text {
        width: 48%;
    }
}

/*** Block Styles ***/
.wc-block-cart-item__total del .wc-block-formatted-money-amount {
    text-decoration: line-through;
    color: $gray-500;
}

.woocommerce-cart {

    .wc-block-cart__submit-container {
        position: relative !important;
        margin-top: $spacer * 3;
        padding: 0 !important;
        z-index: 0;

        &::before {
            box-shadow: none;
        }
    }
    
    .wc-block-components-button:not(.is-link) {
        @extend .btn-cta;
        background-color: $primary;
    }
}
