.woocommerce.single-product .product-top {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    margin-bottom: $spacer * 3;

    div.woocommerce-variation-price,
    div.woocommerce-variation-availability,
    div.hidden-variable-price {
        height: 0px !important;
        overflow: hidden;
        position: relative;
        line-height: 0px !important;
        font-size: 0% !important;
        visibility: hidden !important;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        width: 100%;
    }

    .woocommerce-breadcrumb {
        padding: 0 $spacer;
        margin-bottom: 2 * $spacer;
        width: 100%;
        max-width: 55%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $font-size-sm;
        font-weight: 500;
        color: $gray-500;

        a {
            color: $gray-500;
        }
    }

    .product-content .col-sm-1 {
        padding-right: 5px;
    }

    .woocommerce-product-gallery,
    .entry-summary {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

    .gallery-thumbnails {
        a {
            display: inline-block;
            border: 3px solid $gray-300;
            margin-bottom: $spacer * 0.75;

            &.active {
                border-color: $gray-900;
            }
        }
    }

    .splide__pagination {
        display: none;
    }

    .woocommerce-product-rating {
        display: flex;
        line-height: 1;
        align-items: center;

        .stars {
            margin-bottom: 2px;
            margin-right: 10px;
        }

        .woocommerce-review-link {
            font-size: $font-size-md;
            color: $gray-500;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    form {
        margin-top: $spacer * 3;
    }

    .product_title {
        font-size: $h2-font-size;
    }

    .price {
        color: $primary;
        font-size: $font-size-base;
        font-weight: bold;

        .strike {
            display: inline;
            color: $gray-500;
            font-size: $font-size-base;
        }

        .shipping {
            display: inline;
            color: $body-color;
            font-size: $font-size-base;
            font-weight: 600;
        }
    }

    .cart {
        .quantity {
            display: none !important;
        }

        .single_add_to_cart_button {
            @extend .btn-primary, .btn-cta, .btn-lg;

            text-transform: uppercase;
            font-size: 18px;
            padding: 10px 35px;
        }
    }

    .related {
        margin-top: $spacer * 5;
    }
}

/** Variation Fields **/
.woocommerce.single-product .product-top table.variations {
    tr,
    td {
        display: block;
        line-height: 1.5 !important;
    }

    tr {
        margin-bottom: $spacer;
    }

    td.value {
        position: relative;
    }

    td.value::after {
        @extend .far;
        content: "\f078";
        position: absolute;
        top: 50%;
        right: auto;
        left: calc(75% - 25px);
        transform: translateY(-50%);
        pointer-events: none;
    }

    label {
        line-height: 1;
        font-weight: normal !important;
        margin-bottom: 0;
        font-size: $font-size-sm;
        text-transform: uppercase;
    }

    .reset_variations {
        display: none !important;
    }

    select {
        padding: 10px 35px 10px 15px;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 5px;
    }
}

@include media-breakpoint-down(sm) {
    .woocommerce.single-product .product-top table.variations {
        text-align: left;

        td.value::after {
            right: 25px;
            left: auto;
        }

        select {
            width: 100%;
        }
    }
}

.woocommerce-noreviews {
    background: $gray-100;
    border-radius: 7px;
    padding: $spacer;
}

.woocommerce #reviews #comments ol.commentlist {
    padding-left: 0;

    li {
        background: $gray-100;
        border-radius: 7px;
        padding: $spacer;

        .comment_container {
            display: flex;
            align-items: flex-start;

            img.avatar {
                position: relative;
                margin-right: $spacer * 1.5;
                width: 100%;
                max-width: 65px;
                border: 0;
                padding: 0;
                border-radius: 50%;
            }

            .comment-text {
                float: none;
                margin: 0;
                width: 100%;
                border: 0;
                padding: 0;

                p.meta {
                    font-size: $font-size-sm;
                    margin-bottom: $spacer * 0.5;
                    display: flex;
                    justify-content: space-between;
                    text-transform: capitalize;

                    .verified {
                        font-size: 75%;
                        color: $white;
                        background-color: $primary;
                        padding: 2px 7px;
                        border-radius: 10px;
                        margin-left: 10px;
                    }
                }

                .stars {
                    margin-bottom: $spacer;
                }
            }
        }
    }
}

.woocommerce #reviews .reviews-summary {
    background: $gray-100;
    margin-bottom: $spacer * 2;
    padding: $spacer;
    border-radius: 5px;

    .review-graph {
        max-width: 350px;
        display: grid;
        grid-template-columns: 55px auto 50px;
        align-items: center;
    }

    .review-graph:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    label {
        margin-bottom: 0;
    }

    .graph {
        margin-right: 15px;
        margin-left: 10px;
        background: $gray-200;
        position: relative;
        height: 13px;
        border-radius: 10px;
        overflow: hidden;
    }

    .inner-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;
        background: #fea569;
        border-radius: 10px;
    }

    .info {
        text-align: right;
    }
}

.secure-payment {
    background: $gray-100;
    text-align: left;
    padding: $spacer;
    font-weight: bold;
    border-radius: 5px;

    p:last-child {
        margin-bottom: 0;
    }

    i {
        margin-right: 10px;
    }

    a {
        color: $body-color;
        text-decoration: underline;
    }

    .fa-lock-alt {
        color: #008000;
    }

    .fa-award {
        color: #ff9800;
        font-size: 18px;
    }

    .fa-ambulance {
        color: #f44336;
        font-size: 15px;
        margin-right: 7px;
    }
}

@include media-breakpoint-down(xs) {
    .woocommerce.single-product .product-top {
        text-align: center;
        padding-top: $spacer;

        .row {
            width: 100vw;
        }

        .images img {
            max-width: 100%;
        }

        .splide__pagination {
            display: flex;
            position: relative;
            transform: none;
            top: 0;
            left: 0;
            margin: 10px 0;
            width: 100%;
        }

        .splide__pagination__page {
            background: $gray-400;

            &.is-active {
                transform: scale(1);
                background: $gray-600;
            }
        }

        .gallery-thumbnails {
            display: none;
        }

        .woocommerce-product-rating {
            justify-content: center;
        }

        .single_add_to_cart_button {
            width: 100%;
        }

        .related.products {
            padding: 0;
            width: 100%;

            .related-products-wrapper {
                overflow-x: scroll;
                width: 100%;
            }

            .product-grid {
                width: auto;
            }

            div.product {
                width: 40vw;
            }
        }
    }

    .woocommerce #reviews #comments ol.commentlist {
        p.meta {
            display: block !important;

            span.woocommerce-review__author {
                display: block;
            }

            time.woocommerce-review__published-date {
                display: block;
                margin-top: 10px;
            }
        }
    }
}

.description-block {
    background: $gray-100;
    margin: $spacer 0;
    padding: $spacer;
    border-radius: 5px;

    h3 {
        display: flex;
        align-items: center;
        margin-bottom: $spacer;
    }

    img {
        max-height: 36px;
        margin-right: 15px;
    }

    .btn-collapse {
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        display: block;
        position: relative;

        &::before {
            @extend .far;
            content: '\f107';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        & + p {
            display: none;
        }
    }

    .collapse .card {
        padding-top: $spacer;
    }


}
