.woocommerce.single-product .product-top {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    margin-bottom: $spacer * 3;

    div.woocommerce-variation-price,
    div.woocommerce-variation-availability,
    div.hidden-variable-price {
        height: 0px !important;
        overflow: hidden;
        position: relative;
        line-height: 0px !important;
        font-size: 0% !important;
        visibility: hidden !important;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        width: 100%;
    }

    .woocommerce-breadcrumb {
        padding: 0 $spacer;
        margin-bottom: 2 * $spacer;
        width: 100%;
        max-width: 55%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $font-size-sm;
        font-weight: 500;
        color: $gray-500;

        a {
            color: $gray-500;
        }
    }

    .product-content .col-sm-1 {
        padding-right: 5px;
    }

    .woocommerce-product-gallery,
    .entry-summary {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

    .gallery-thumbnails {
        a {
            display: inline-block;
            border: 3px solid $gray-300;
            margin-bottom: $spacer * 0.75;

            &.active {
                border-color: $gray-900;
            }
        }
    }

    .splide__pagination {
        display: none;
    }

    .woocommerce-product-rating {
        display: flex;
        line-height: 1;
        align-items: center;
        margin-bottom: $spacer * 3;

        .stars {
            margin-bottom: 2px;
            margin-right: 10px;
        }

        .woocommerce-review-link {
            font-size: $font-size-md;
            color: $gray-500;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .product_title {
        font-size: $h2-font-size;
    }

    .price {
        color: $primary;
        font-size: $font-size-base;
        font-weight: bold;

        .shipping,
        .strike {
            display: inline;
            color: $gray-500;
            font-size: $font-size-base;
        }
    }

    table.variations {
        tr,
        td {
            display: block;
            line-height: 1.5 !important;
        }

        tr {
            margin-bottom: $spacer;
        }

        label {
            line-height: 1;
            font-weight: normal !important;
            margin-bottom: 0;
        }

        .reset_variations {
            display: none !important;
        }

        select {
            padding: 5px 21px 5px 13px;
            border-radius: 0;
        }
    }

    .cart {
        .quantity {
            display: none !important;
        }

        .single_add_to_cart_button {
            @extend .btn-primary, .btn-cta, .btn-lg;

            text-transform: uppercase;
            font-size: 18px;
            padding: 10px 35px;
        }
    }

    .related {
        margin-top: $spacer * 5;
    }
}

.woocommerce-noreviews {
    background: $gray-100;
    border-radius: 7px;
    padding: $spacer;
}

.woocommerce #reviews #comments ol.commentlist {
    padding-left: 0;

    li {
        background: $gray-100;
        border-radius: 7px;
        padding: $spacer;

        .comment_container {
            display: flex;
            align-items: flex-start;

            img.avatar {
                position: relative;
                margin-right: $spacer * 1.5;
                width: 100%;
                max-width: 65px;
                border: 0;
                padding: 0;
                border-radius: 50%;
            }

            .comment-text {
                float: none;
                margin: 0;
                width: 100%;
                border: 0;
                padding: 0;

                p.meta {
                    font-size: $font-size-sm;
                    margin-bottom: $spacer * 0.5;
                    display: flex;
                    justify-content: space-between;
                    text-transform: capitalize;

                    .verified {
                        font-size: 75%;
                        color: $white;
                        background-color: $primary;
                        padding: 2px 7px;
                        border-radius: 10px;
                        margin-left: 10px;
                    }
                }

                .stars {
                    margin-bottom: $spacer;
                }
            }
        }
    }
}

.secure-payment img {
    max-width: 100px;
}

@include media-breakpoint-down(xs) {
    .woocommerce.single-product .product-top {
        text-align: center;
        padding-top: $spacer;

        .row {
            width: 100vw;
        }

        .images img {
            max-width: 100%;
        }

        .splide__pagination {
            display: flex;
            position: relative;
            transform: none;
            top: 0;
            left: 0;
            margin: 10px 0;
            width: 100%;
        }

        .splide__pagination__page {
            background: $gray-400;

            &.is-active {
                transform: scale(1);
                background: $gray-600;
            }
        }

        .gallery-thumbnails {
            display: none;
        }

        .woocommerce-product-rating {
            justify-content: center;
        }

        .single_add_to_cart_button {
            width: 100%;
        }

        .related.products {
            padding: 0;
            width: 100%;

            .related-products-wrapper {
                overflow-x: scroll;
                width: 100%;
            }

            .product-grid {
                width: auto;
            }

            div.product {
                width: 40vw;
            }
        }
    }

    .woocommerce #reviews #comments ol.commentlist {
        p.meta {
            display: block !important;

            span.woocommerce-review__author {
                display: block;
            }

            time.woocommerce-review__published-date {
                display: block;
                margin-top: 10px;
            }
        }
    }
}
