.woocommerce a.button {
    @extend .btn-primary, .btn-cta;
}

.price {
    color: $primary;
    font-weight: 500;
    font-size: 18px;

    .strike {
        text-decoration: line-through;
        font-size: 16px;
        color: $gray-500;
        margin-left: $spacer * 0.4;
    }

    .shipping {
        display: none;
    }
}

.stars {
    margin-bottom: 0.25 * $spacer;

    i {
        font-size: 14px;
        color: $gray-500;
        margin-right: 1px;
    }

    .fas {
        color: #fea569;
    }

    &.empty {
        opacity: 0;
    }
}

.woocommerce nav.woocommerce-pagination ul {
    border: 0;

    li {
        border: 0;
        margin: 3px;

        a,
        span.current {
            padding: 0.375rem 0.75rem;
            border-radius: 5px;
            font-size: 20px;
        }

        i {
            font-size: $font-size-base;
        }

        a {
            background: $white;
            color: $body-color;

            &:hover {
                color: $body-color;
            }
        }

        span.current {
            background: $primary;
            color: $white;
        }
    }
}

.woocommerce-products-header {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 1;
    margin-bottom: $spacer * 2;
    text-align: center;
}

.woocommerce .woocommerce-ordering {
    float: none;
    margin-bottom: $spacer * 2;
    text-align: right;
}

.related.products {
    padding-left: 40px;
    padding-right: 40px;

    .heading {
        text-transform: uppercase;
        font-size: 18px;
    }

    .product-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: $spacer;

        img {
            height: auto;
        }
    }
}

.woocommerce-store-notice {
    display: none !important;
}

.woocommerce-notices-wrapper {
    @extend .container;
}
