.woocommerce a.button {
    @extend .btn-primary, .btn-cta;
}

.price {
    color: #4e54c8;
    font-weight: 500;
    font-size: 18px;

    .strike {
        text-decoration: line-through;
        font-size: 16px;
        color: $gray-500;
        margin-left: $spacer * 0.4;
    }
}

.stars {
    margin-bottom: 0.25 * $spacer;

    i {
        font-size: 14px;
        color: $gray-500;
        margin-right: 4px;
    }

    .fas {
        color: #fea569;
    }

    &.empty {
        opacity: 0;
    }
}

.woocommerce nav.woocommerce-pagination ul {
    border: 0;

    li {
        border: 0;
        margin: $spacer * 0.15;

        a {
            background: $white;
            padding: 0.375rem 0.75rem;
            border-radius: 5px;
            color: $body-color;
        }

        span.current {
            background: $primary;
            padding: 0.375rem 0.75rem;
            border-radius: 5px;
            color: $white;
        }
    }
}
